In [1]:
from __future__ import print_function
import numpy as np
import pandas as pd
import pandas_profiling
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime



import pandas as pd 

import pylab as plt
import numpy as np

# Import datasets, classifiers and performance metrics
from sklearn import datasets, metrics
from sklearn.metrics import confusion_matrix
from gmdhpy.gmdh import Regressor
from gmdhpy.plot_model import PlotModel

In [2]:
  ##Weather information
main_weather_info = pd.read_csv('weather_train.csv')
main_weather_info.timestamp = pd.to_datetime(main_weather_info.timestamp)

  ##Training Information
main_training = pd.read_csv('train.csv')
main_training.timestamp = pd.to_datetime(main_training.timestamp)
main_training.meter = main_training.meter.astype('category')

  ## Building Meta Data
building_info = pd.read_csv('building_metadata.csv')

##Putting the datasets together
data_train = pd.merge(main_training,building_info,on='building_id',how='left')
data_train = pd.merge(data_train,main_weather_info,on=['site_id','timestamp'],how='left')
#Deleting the dataframe to free up memory
del main_training,main_weather_info

In [3]:
#Formatting the date properly
data_train['primary_use'] = data_train['primary_use'].astype('category').cat.codes
if data_train["timestamp"].dtype=='O':
    data_train["timestamp"] = pd.to_datetime(data_train["timestamp"])

data_train["second"] = data_train["timestamp"].dt.second
data_train["minute"] = data_train["timestamp"].dt.minute
data_train["hour"] = data_train["timestamp"].dt.hour
data_train["day"] = data_train["timestamp"].dt.day
data_train["month"] = data_train["timestamp"].dt.month
data_train["year"] = data_train["timestamp"].dt.year
data_train.drop("timestamp",axis=1,inplace= True)
data_train.fillna(0,inplace=True)

In [4]:
data_train.head()

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,second,minute,hour,day,month,year
0,0,0,0.0,0,0,7432,2008.0,0.0,25.0,6.0,...,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
1,1,0,0.0,0,0,2720,2004.0,0.0,25.0,6.0,...,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
2,2,0,0.0,0,0,5376,1991.0,0.0,25.0,6.0,...,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
3,3,0,0.0,0,0,23685,2002.0,0.0,25.0,6.0,...,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
4,4,0,0.0,0,0,116607,1975.0,0.0,25.0,6.0,...,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016

In [5]:
#Separating X AND Y
target_col = 'meter_reading'
Ys = data_train[target_col]
Xs = data_train.drop(target_col,axis=1)

In [8]:
Xs.head()

,building_id,meter,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,second,minute,hour,day,month,year
0,0,0,0,0,7432,2008.0,0.0,25.0,6.0,20.0,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
1,1,0,0,0,2720,2004.0,0.0,25.0,6.0,20.0,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
2,2,0,0,0,5376,1991.0,0.0,25.0,6.0,20.0,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
3,3,0,0,0,23685,2002.0,0.0,25.0,6.0,20.0,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016
4,4,0,0,0,116607,1975.0,0.0,25.0,6.0,20.0,0.0,1019.7,0.0,0.0,0,0,0,1,1,2016

In [9]:
Ys.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: meter_reading, dtype: float64

In [5]:
#Data Normalization, also dropping the building id
from sklearn.preprocessing import StandardScaler
Normalizer = StandardScaler()
Xs =  pd.DataFrame(Normalizer.fit_transform(Xs.drop(["building_id"],axis = 1),),
        columns=['meter', 'site_id', 'primary_use', 'square_feet', 'year_built',
       'floor_count', 'air_temperature', 'cloud_coverage','dew_temperature', 
                 'precip_depth_1_hr', 
                 'sea_level_pressure','wind_direction',
                 'wind_speed', 'year', 'month','day','hour','minute','second'])

In [6]:
#Converting to Numpy then later torch tensors
X = Xs.to_numpy()
Y = Ys.to_numpy()



print(X.shape)
X = X.astype('float64')
Y = Y.astype('float64')

(20216100, 19)

In [ ]:
model = Regressor(normalize=False)
model.fit(X, Y)

The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer0 in 272.29 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer1 in 1403.87 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer2 in 1461.15 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer3 in 1430.39 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer4 in 1407.52 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer5 in 1456.95 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer6 in 1482.53 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer7 in 1461.11 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer8 in 1472.72 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer9 in 1453.57 sec
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
train layer10 in 1476.66 sec

In [22]:
Xs.shape

(20216100, 19)

In [ ]:
Xs.columns